* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  html {
    scroll-behavior: smooth;
}

header {
    background-image: url(images/2560\ \(1\).png);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    height: 59em;
}

nav {
    width: auto;
    height: 125px;
    display: flex;
    flex-direction: row;
    

}

nav img {
    width: 290px;
    height: 190px;
    margin: 0.8em 0em 0em 3em;
  }

nav div {
    margin: 7em 3em 0em auto;
    display: flex;
    flex-direction: row;
    
}

nav div a {
    color: rgb(212, 217, 226);
    margin: auto;
    padding: 0 1em 0 1em;
    font-weight: 350;
    font-size: 30px;
    text-decoration-line: none;
    
}


.background-image div {
    color: rgb(212, 217, 226);
    text-align: center; 
    width: 100%;
    height: 100%;
}

.background-image h1 {
    padding-top: 4em;
    font-size: 50px;
    font-weight: 350;
}

.background-image p {
    width: 85%;
    margin: 0 auto;
    padding: 2em;
    font-size: 30px;
    line-height:1.4;
    font-weight: 200;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;
    background-color: #04111a;
}

.rectangle-price {
    position: relative; /* Add position relative */
    text-align: center;
    border: solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 2em;
    background-color: #145482;
    width: 550px;
}

.heading {
    margin-bottom: 15px;
    color: white;
    padding: 7px;
    font-size: 30px;
    
    

}

.actual-price {
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-size: 35px;
    border: solid white;
    border-radius: 20px;
    background-color:  #0b2d46;
    justify-content: center; 
    align-items: center;
             
}

.rectangle-price li {
    padding: 8px 0px;
    color: white;
    list-style-position: inside;
    font-weight: 200;
    font-size: 20px;
    
}

.rectangle-price ul {
    padding: 1em;
}


.article-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}

.space-above {
    padding-top: 2em;
}

.space-below {
    padding-bottom: 2em;
}

.ribbon {
    --f: 20px; /* control the folded part */
    
    position: absolute;
    top: 0;
    color: #fff;
    padding: 0.3em 5em;
    background: var(--c,#45ADA8);
    border-bottom :var(--f) solid #0007;
    clip-path: polygon(
      100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px))
  }

.left {
    left: 0;
    transform: translate(calc((cos(45deg) - 1)*100%), -100%) rotate(-45deg);
    transform-origin: 100% 100%;
}

.ribbon.bronze {
    background: var(--c,#ad7445);
}

.ribbon.silver {
    background: var(--c,#a8a8a8);
}

.ribbon.gold {
    background: var(--c,#cc2a2a);
}

.ribbon.diamond {
    background: var(--c,#b3b9dd);
}

.section-inputs {
    
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.section-inputs p {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.section-inputs input[type="email"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 18px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.section-inputs input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 18px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
.section-inputs input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

textarea {
    width: 100%; /* Adjust width as needed */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 15px; /* Adjust margin as needed */
    border: 2px solid #ddd; /* Adjust border properties as needed */
    border-radius: 8px; /* Adjust border-radius as needed */
    font-size: 18px; /* Adjust font size as needed */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    transition: border-color 0.3s ease; /* Optional: Add transition effect for border color */
    resize: none;
}

textarea:focus {
    outline: none; /* Remove default outline */
    border-color: #007bff; /* Change border color when focused */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Optional: Add box shadow when focused */
}

.why {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 4em;
    text-align: center;
    
    margin: 0 auto;
    font-size: larger;
    background-color: #04111a;
    color: white;
}
.why h1 {
    padding-bottom: 1em ;
    font-size: 45px;
    font-weight: 200;
    
}

.why p {
    width:1080px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 200;
}

.list-why {
    padding: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
   
    margin: 0 auto;
    list-style-type: none;
    
}

.list-why article {
    display: flex;
}
.list-why h2 {
    font-size: 25px;
    font-weight: 350;
    padding-bottom: 1em;
}


.list-why li {
    padding: 2em;
    margin: 1em;
    font-size: 20px;
    font-weight: 150;
    border: solid white;
    border-radius: 30px;
    width: 640px;
    
}


footer div {
    display: flex;
    flex-direction: column;
    padding: 3em;
    background-color: #04111a;
}

footer div h1{
    padding: 1em;
    margin: 0 auto;
    color: white;
    font-weight: 200;
    font-size: 25px;
    width: 350px;

   
}

footer div a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    padding: 0.5em;
    margin: 0 auto;
    font-size: 20px;
    width: 250px;
}

/* For small devices (phones) */
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    
      html {
        scroll-behavior: smooth;
    }
    
    header {
        background-image: url(images/2560\ \(1\).png);
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(10px);
        height: 65em;
    }
    
    nav {
        width: auto;
        display: flex;
        flex-direction: column;
        
    
    }
    
    nav img {
        width: 260px;
        height: 210px;
        margin: 0 auto;
        padding: 1em;
      }
    
    nav div {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
        
    }
    
    nav div a {
        color: rgb(212, 217, 226);
        margin: 0.5em auto;
        padding: 1em;
        font-weight: 350;
        font-size: 20px;
        text-decoration-line: none;
        border: solid rgba(148, 157, 170, 0.623);
        border-radius: 30px;
        width: 250px;
        text-align: center;
        
        
    }
    
    
    .background-image div {
        color: rgb(212, 217, 226);
        text-align: center; 
        width: 100%;
        height: 100%;
    }
    
    .background-image h1 {
        padding-top: 12em;
        font-size: 30px;
        font-weight: 350;
    }
    
    .background-image p {
        width: 85%;
        margin: 0 auto;
        padding: 2em;
        font-size: 17px;
        line-height:1.4;
        font-weight: 200;
    }
    
    .prices {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0em;
        background-color: #04111a;
    }
    
    .rectangle-price {
        position: relative; /* Add position relative */
        text-align: center;
        border: solid rgb(255, 255, 255);
        border-radius: 30px;
        padding: 2em;
        background-color: #145482;
        width: 325px;
        margin: 1em auto;
    }
    
    .heading {
        margin-bottom: 15px;
        color: white;
        padding: 7px;
        font-size: 30px;
        
        
    
    }
    
    .actual-price {
        margin-top: 20px;
        padding: 10px;
        color: white;
        font-size: 20px;
        border: solid white;
        border-radius: 20px;
        background-color:  #0b2d46;
        justify-content: center; 
        align-items: center;
                 
    }
    
    .rectangle-price li {
        padding: 8px 0px;
        color: white;
        list-style-position: inside;
        font-weight: 200;
        font-size: 17px;
        
    }
    
    .rectangle-price ul {
        padding: 1em;
    }
    
    
    .article-row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2em;
    }
    
    .space-above {
        padding-top: 0em;
    }
    
    .space-below {
        padding-bottom: 0em;
    }
    
    .ribbon {
        --f: 20px; /* control the folded part */
        
        position: absolute;
        top: 0;
        color: #fff;
        padding: 0.3em 5em;
        background: var(--c,#45ADA8);
        border-bottom :var(--f) solid #0007;
        clip-path: polygon(
          100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px))
      }
    
    .left {
        left: 0;
        transform: translate(calc((cos(45deg) - 1)*100%), -100%) rotate(-45deg);
        transform-origin: 100% 100%;
    }
    
    .ribbon.bronze {
        background: var(--c,#ad7445);
    }
    
    .ribbon.silver {
        background: var(--c,#a8a8a8);
    }
    
    .ribbon.gold {
        background: var(--c,#cc2a2a);
    }
    
    .ribbon.diamond {
        background: var(--c,#b3b9dd);
    }
    
    .section-inputs {
        
        padding: 30px;
        background-color: #f5f5f5;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    
    .section-inputs p {
        margin-bottom: 15px;
        font-size: 20px;
        color: #333;
        font-weight: bold;
    }
    
    .section-inputs input[type="email"] {
        width: 100%;
        padding: 15px;
        margin-bottom: 25px;
        border: 2px solid #ddd;
        border-radius: 8px;
        font-size: 18px;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
    }
    
    .section-inputs input[type="text"] {
        width: 100%;
        padding: 15px;
        margin-bottom: 25px;
        border: 2px solid #ddd;
        border-radius: 8px;
        font-size: 18px;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
    }
    .section-inputs input[type="email"]:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    }
    
    textarea {
        width: 100%; /* Adjust width as needed */
        padding: 10px; /* Adjust padding as needed */
        margin-bottom: 15px; /* Adjust margin as needed */
        border: 2px solid #ddd; /* Adjust border properties as needed */
        border-radius: 8px; /* Adjust border-radius as needed */
        font-size: 18px; /* Adjust font size as needed */
        box-sizing: border-box; /* Ensure padding and border are included in the width */
        transition: border-color 0.3s ease; /* Optional: Add transition effect for border color */
        resize: none;
    }
    
    textarea:focus {
        outline: none; /* Remove default outline */
        border-color: #007bff; /* Change border color when focused */
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Optional: Add box shadow when focused */
    }
    
    .why {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 1em;
        text-align: center;
        
        margin: 0 auto;
        font-size: larger;
        background-color: #04111a;
        color: white;
    }
    .why h1 {
        padding-bottom: 1em ;
        font-size: 35px;
        font-weight: 200;
        
    }
    
    .why p {
        width:325px;
        margin: 1em auto;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
    }
    
    .list-why {
        padding: 0em;
        text-align: center;
        display: flex;
        flex-direction: column; 
        margin: 0 auto;
        list-style-type: none;
        
    }
    
    .list-why article {
        display: flex;
        flex-direction: column;
    }
    .list-why h2 {
        font-size: 25px;
        font-weight: 350;
        padding-bottom: 1em;
    }
    
    
    .list-why li {
        padding: 2em;
        margin: 1em auto;
        font-size: 20px;
        font-weight: 150;
        border: solid white;
        border-radius: 30px;
        width: 325px;
        
    }
    
    
    footer div {
        display: flex;
        flex-direction: column;
        padding: 3em;
        background-color: #04111a;
    }
    
    footer div h1{
        padding: 1em;
        margin: 0 auto;
        color: white;
        font-weight: 200;
        font-size: 25px;
        width: 350px;
    
       
    }
    
    footer div a {
        color: white;
        text-decoration: none;
        font-weight: 100;
        padding: 0.5em;
        margin: 0 auto;
        font-size: 20px;
        width: 250px;
    }
}